# Default owner for everything in the repo
* @GS-mcsapo @otheradmin

# PNG files owned by designer
*.png @designer

# Src/root directory owned by KernelTeam
/Src/root/ @KernelTeam @somedeveloper1

# array.cpp files owned by arrayexport
array.cpp @arrayexpert @HoosLaszlo
